<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1><%= t('.title') %></h1>
      <%= link_to t('.edit'), edit_profile_path(@profile), class: 'btn btn-success float-right' %>
      <div class="profile-details">
          <div class="form-group">
            <strong><%= t('.name') %>:</strong> <%= @profile.name %>
          </div>
          <div class="form-group">
            <strong><%= t('.age') %>:</strong> <%= @profile.age %>
          </div>
          <div class="form-group">
            <strong><%= t('.gender') %>:</strong> <%= @profile.gender %>
          </div>
          <div class="form-group">
            <strong><%= t('.history_of_present_illness') %>:</strong> <%= @profile.history_of_present_illness %>
          </div>
          <div class="form-group">
            <strong><%= t('.contraindications') %>:</strong> <%= @profile.contraindications %>
          </div>
          <div class="form-group">
            <strong><%= t('.medical_history') %>:</strong> <%= @profile.medical_history %>
          </div>
          <div class="form-group">
            <strong><%= t('.surgery_history') %>:</strong> <%= @profile.surgery_history %>
          </div>
          <div class="form-group">
            <strong><%= t('.icon') %>:</strong>
            <% if @profile.icon.present? %>
                <%= image_tag @profile.icon.url, id: 'preview', size: '100x100', class: 'rounded-circle' %>
            <% else %>
                <p>No icon uploaded.</p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
