<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title text-center mb-0">マイプロフィール</h1>
        </div>
        <div class="card-body">
          <% if @profile.present? %>
            <div class="text-right mb-3">
              <%= link_to '編集', edit_profile_path(@profile), class: 'btn btn-success float-right' %>
              <%= link_to '削除', profile_path(current_user.profile), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </div>
            <div class="profile-details">
              <div class="form-group">
                <strong>年齢:</strong>
                <%= @profile.age %>
              </div>
              <div class="form-group">
                <strong>性別:</strong>
                <%= @profile.gender %>
              </div>
              <div class="form-group">
                <strong>現在の病歴:</strong>
                <%= @profile.history_of_present_illness %>
              </div>
              <div class="form-group">
                <strong>お身体に関する禁忌事項:</strong>
                <%= @profile.contraindications %>
              </div>
              <div class="form-group">
                <strong>今までの医療歴:</strong>
                <%= @profile.medical_history %>
              </div>
              <div class="form-group">
                <strong>今までの手術歴:</strong>
                <%= @profile.surgery_history %>
              </div>
              <div class="form-group text-center">
                <strong>プロフィール画像:</strong><br>
                <%= image_tag @profile.icon.url, id: 'preview', size: '200x200', class: 'rounded-circle' %>
              </div>
            </div>
          <% else %>
          <p class="text-center">プロフィールが存在しません。</p>
            <%= link_to 'プロフィール新規作成', new_profile_path, class: 'btn btn-primary btn-block' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>