<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">ユーザープロフィール編集ページ</h1>
      <%= form_with model: [:admin, @profile], local: true do |f| %>

        <table class="table">
          <tr>
            <th scope="row">性別:</th>
            <td>
              <%= f.label :man ,'男性' %>
              <%= f.radio_button :gender, :man %>
              <%= f.label :woman ,'女性' %>
              <%= f.radio_button :gender, :woman %>
            </td>
          </tr>
          <tr>
            <th scope="row">年齢:</th>
            <td><%= f.text_field :age %></td>
          </tr>
          <tr>
            <th scope="row">現在の病歴:</th>
            <td><%= f.text_field :history_of_present_illness %></td>
          </tr>
          <tr>
            <th scope="row">お身体に関する禁忌事項:</th>
            <td><%= f.text_field :contraindications %></td>
          </tr>
          <tr>
            <th scope="row">今までの医療歴:</th>
            <td><%= f.text_field :medical_history %></td>
          </tr>
          <tr>
            <th scope="row">今までの手術歴:</th>
            <td><%= f.text_field :surgery_history %></td>
          </tr>
          <tr>
            <th scope="row">プロフィール画像:</th>
            <td>
              <%= f.label :icon, 'アイコン選択' %>
              <%= f.file_field :icon, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
              <%= f.hidden_field :icon_cache %>
            </td>
            <td>
              <%= image_tag @profile.icon.url,
                  id: 'preview',
                  size: '200x200', class: 'rounded-circle' %>
            </td>
          </tr>
        </table>
        <%= f.submit 'プロフィールを更新',  class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
