<h1 class="my-5">進捗記録ページ</h1>
<% if @exercise_plans %>
  <%= form_with(model: @exercise_progresses, local: true, html: { class: 'exercise-form' }) do |f| %>
    <div class="form-group">
      <%= f.label :date, class: 'form-label' %>
      <%= f.date_select :date, class: 'form-control' %>
    </div>

    <h2 class="my-5">実施している自主訓練メニュー</h2>
    <% @exercise_plans.each do |exercise_plan| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= exercise_plan.training_menu %></h5>
        </div>
        </div>
          <% end %>
          <h2 class= "my-4">自主訓練の進捗フォーム</h2>
          <div class="form-group">
            <%= f.label :progresse_keep, '自主訓練をして感じたことを記載して下さい', class: 'form-label' %>
            <%= f.text_area :progresse_keep, class: 'form-control', rows: 5, placeholder: '回数、セット数、休憩時間、体の違和感や痛みの有無など' %>
            </div>

    <div class="form-group submit-button">
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
<p>Currently, there are no exercise plans available. Please wait for a plan to be added to start recording your progress.</p>
<% end %>