<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title">Link Page</h1>

          <!-- 一意の識別子を表示 -->
          <% if current_user.identifier.present? %>
            <p class="card-text">
              あなたの識別子: <strong><%= current_user.identifier %></strong>
            </p>
          <% else %>
            <p class="card-text text-danger">識別子が設定されていません。</p>
          <% end %>

          <!-- LINEアカウントへのリンクを追加 -->
          <div class="mt-3">
          <p>通知が届くように以下のリンクから<br>公式LINEアカウントを友達追加して下さい</p>

          <a href="https://lin.ee/fKbU5kQ"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-user"></i>
            <%= link_to 'プロフィール', profiles_path, class: 'btn btn-link btn-block' %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-user-plus"></i>
            <%= link_to 'プロフィール新規作成', new_profile_path, class: 'btn btn-link btn-block' %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-tasks"></i>
            <%= link_to 'プラン確認', user_path(current_user.id), class: 'btn btn-link btn-block' %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-chart-line"></i>
            <%= link_to '進捗確認ダッシューボード', dashboards_path(user_id: current_user.id), class: 'btn btn-link btn-block' %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-key"></i>
            <%= link_to 'パスワード変更', new_password_reset_path, class: 'btn btn-link btn-block' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
