<div class="container mt-5">
  <h1 class="text-center">実施訓練メニュー一覧</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>トレーニングメニュー</th>
        <th>詳細</th>
        <th>画像</th>
        <th>画像の説明</th>
        <th>動画のURL</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise_plans.each do |exercise_plan| %>
        <tr>
          <td><%= exercise_plan.training_menu %></td>
          <td><%= exercise_plan.description %></td>
          <td><%= image_tag exercise_plan.image.url, size: '50x50', class: 'rounded-circle' if exercise_plan.image? %></td>
          <td><%= exercise_plan.image_description %></td>
          <td><%= exercise_plan.movie_url %></td>
          <td>
            <%= link_to '編集', edit_admin_exercise_plan_path(exercise_plan), class: 'btn btn-primary' %>
            <%= link_to '削除', admin_exercise_plan_path(exercise_plan), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>