<%= form_with model: @user, url: passwords_path do |f| %>
    <div>
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Change Password" %>
  <% end %>