<div class="d-flex justify-content-center align-items-center vh-100">
<div class="login-box">
  <div class="login-logo">
    <h1>Admin Registration</h1>
  </div>

  <div class="card">
    <div class="card-body login-card-body">

      <%= form_with model: [:admin, @therapist_user], local: true do |f| %>

        <%= f.label :name %>
        <div class="input-group mb-3">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <%= f.label :email %>
        <div class="input-group mb-3">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <%= f.label :password %>
        <div class="input-group mb-3">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <%= f.label :password_confirmation, 'Password Confirmation' %>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= f.submit 'Register', class: 'btn btn-block btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>