<h1>実施訓練メニューの新規作成</h1>

<%= form_with model: @training_menu, local: true do |form| %>
  <div class="field">
    <%= form.label :title, "メニュー名" %>
    <%= form.text_field :title, id: :training_menu_title %>
  </div>

  <div class="field">
    <%= form.label :description, "説明" %>
    <%= form.text_area :description, id: :training_menu_description %>
  </div>

  <div class="field">
  <%= form.submit "作成する", class: "submit-btn" %>
  </div>
<% end %>
