<div class="login-box">
  <div class="login-logo">
    <h1>title</h1>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <%= form_with url: admin_login_path, local: true do |f| %>

        <%= f.label :name %>
        <div class="input-group mb-3">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <%= f.label :password %>
        <div class="input-group mb-3">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <%= f.label :password_confirmation, 'Password Confirmation' %>
        <div class="input-group mb-3">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= f.submit 'Login', class: 'btn btn-block btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>